<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <RegistryUrl>https://registry.hub.docker.com/taranvir554</RegistryUrl>
    <UserName>taranvir554</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>38a08a00-3160-4544-99ac-902da6c20199</ProjectGuid>
    <_TargetId>DockerContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>